@import "tailwindcss";
:root {
    --primary: #17181f;
    --foreground: #EEEEEE;
    --accent: #FF7802;
    --secondary: #303139;
}
@theme inline {
  --color-foreground: var(--foreground);
  --font-itim: var(--font-itim);
  --font-irish: var(--font-irish);
}
body {
  background: var(--primary);
  color: var(--foreground);
 font-family: itim;
}
